<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button color="primary" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <h2 class="align-items-center">Manager for AUTO Service</h2>
    <span class="spacer"></span>
    <button
      mat-icon-button
      color="accent"
      routerLink="/search"
      routerLinkActive="list-item-active"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
