<div class="box">
  <mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/logo.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubHeader class="mt-2">APPLICATION PAGES</h2>
    <mat-divider></mat-divider>
    <div class="links">
      <a mat-list-item routerLink="/cars" routerLinkActive="list-item-active"
        >Cars</a
      >
      <a
        mat-list-item
        routerLink="/clientcards"
        routerLinkActive="list-item-active"
        >Client Cards</a
      >
      <a
        mat-list-item
        routerLink="/transactions"
        routerLinkActive="list-item-active"
        >Transactions</a
      >
    </div>
  </mat-nav-list>
</div>
