<!-- <div class="container-fluid page">
  <div class="page__box p-3 mt-2">Cars</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute"> -->
<div class="container">
  <mat-table #table [dataSource]="transactionsSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Model Column -->
    <ng-container matColumnDef="id_masina">
      <mat-header-cell *matHeaderCellDef> Id masina </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.id_masina }}
      </mat-cell>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="id_card_client">
      <mat-header-cell *matHeaderCellDef> Id Card Client </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.id_client_card ? element.id_client_card : "-" }}
      </mat-cell>
    </ng-container>

    <!-- Action buttons -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" [disableRipple]="true">
          <mat-icon class="editbutton" (click)="onUpdate.emit(element)"
            >edit</mat-icon
          >
        </button>
        <button mat-icon-button color="warn" [disableRipple]="true">
          <mat-icon class="deletebutton" (click)="onDelete.emit(element.id)"
            >delete</mat-icon
          >
        </button>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        Tranzactia pentru masina cu id-ul
        {{ detail.element.id_masina }} si cardul client
        {{
          detail.element.id_client_card
            ? "cu id-ul " + detail.element.id_client_card
            : "(fara card client)"
        }}, cu suma piese {{ detail.element.suma_piese_plata }} lei si suma
        manopera {{ detail.element.suma_manopera_plata }} lei, inregistrata la
        data de {{ detail.element.data_si_ora | date: "dd.MM.yyyy" }}, cu o
        reducere totala de
        {{ detail.element.reducere_totala }}
        lei.
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      matRipple
      class="element-row"
      [class.expanded]="expandedElement == row"
      (click)="expandedElement = row"
    ></mat-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['expandedDetail'];
        when: isExpansionDetailRow
      "
      [@detailExpand]="
        row.element == expandedElement ? 'expanded' : 'collapsed'
      "
      style="overflow: hidden"
    >
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons hidePageSize>
  </mat-paginator>
  <!-- </div>
    </div>
  </div>
</div> -->
</div>
