$aliceBlue: #fcfeff;
$athensGray: #dadada;
$downriver: #00050d;
$jaffa: #f07c41;
$twilightBlue: #0b214a;

$primary-dark: $downriver;
$primary-dark-warn: $twilightBlue;
$primary-dark-accent: $jaffa;
$border-light: $athensGray;
$secondary-light: $athensGray;
